*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
}

.container {
  height: 100vh;
  width: 100%;
  background-color: #1f1f1f;
  display: flex;
  flex-direction: column;
}

.settings {
  height: 200px;
  background-color: #e3e3e3;
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.settings__color-model {
  display: flex;
  flex-direction: column;
}

.generate-area {
  height: 100%;
}

.settings__input {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin: 0 20px;
}

.input__range {
  width: 200px;
}

.settings__label {
  font-size: 32px;
  text-align: right;
}

.generate-area {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.generate-area__color {
  color: white;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 28vw;
}
